table {
    width: 100%;
}

.random-component-container {
    padding : 5px;
}

.random-component {
    padding: 10px;
    border: 1px solid #ddd;
}

.npc-component {
    height: 300px;
}

.npc-component-add {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
