
.no-border {
    border-bottom:none;
}

.no-border:hover {
    background-color: #fff;
}

.divider {
    height: 10px !important;
}

.bold {
    font-weight: bold;
}

table {
    width: 100%;
}

.table-container {
    height: 200px;
    overflow-y: auto;
}

.a-btn {
    cursor: pointer;
}
