

<h3>Treasure Generator</h3>

<label>Challenge Rating: </label>
<select (change)="onChangeChallengeRating($event.target.value)">
    <option *ngFor="let i of challengeRatings">{{i}}</option>
</select>

<label>Treasure Type: </label>
<select (change)="onChangeTreasureType($event.target.value)">
    <option *ngFor="let i of treasureTypes">{{i}}</option>
</select>

<br>

<button class="btn btn-primary" (click)="generateCoins()">Generate Treasure</button>

<br>

<table>
    <tr>
        <td>Coins: {{reward}}</td>
    </tr>
</table>
