

<h3>Treasure Generator</h3>

<label>Challenge Rating: </label>
<select (change)="onChangeChallengeRating($event.target.value)">
    <option *ngFor="let i of challengeRatings">{{i}}</option>
</select>

<label>Treasure Type: </label>
<select (change)="onChangeTreasureType($event.target.value)">
    <option *ngFor="let i of treasureTypes">{{i}}</option>
</select>

<br>

<button class="btn btn-primary" (click)="generateTreasure()">Generate Treasure</button>

<br>

<table>
    <tr>
        <td>Coins:</td>
    </tr>
    <tr>
        <td>{{coinReward}}</td>
    </tr>
    <tr>
        <td>Gems:</td>
    </tr>
    <tr *ngFor="let gem of gemReward">
        <td>{{gem.name}} ({{gem.color}})</td>
        <td>{{gem.cost}}</td>
    </tr>
</table>
