

<h3>Treasure Generator</h3>

<label>Challenge Rating: </label>
<select (change)="onChangeChallengeRating($event.target.value)">
    <option *ngFor="let i of challengeRatings">{{i}}</option>
</select>

<label>Treasure Type: </label>
<select (change)="onChangeTreasureType($event.target.value)">
    <option *ngFor="let i of treasureTypes">{{i}}</option>
</select>

<br>

<button class="btn btn-primary" (click)="generateTreasure()">Generate Treasure</button>

<br>

<table>
    <tr *ngIf="coinReward != null">
        <td colspan="2" class="bold no-border">Coins</td>
    </tr>
    <tr>
        <td colspan="2">{{coinReward}}</td>
    </tr>
    <tr class="no-border divider">
        <td class="no-border" colspan="2"></td>
    </tr>
    <tr *ngIf="gemReward.length > 0">
        <td class="bold no-border">Gems</td>
    </tr>
    <tr *ngFor="let gem of gemReward">
        <td>{{gem.name}} ({{gem.color}})</td>
        <td>{{gem.cost}}</td>
    </tr>
    <tr *ngIf="artReward.length > 0">
        <td class="bold no-border">Art Objects</td>
    </tr>
    <tr *ngFor="let art of artReward">
        <td>{{art.name}}</td>
        <td>{{art.cost}}</td>
    </tr>
</table>
