

<div class="row">

    <div class="col-md-2">
        <div class="row">
            <bidder-form (onAddBidder) = "onAddBidder($event)"></bidder-form>
        </div>
        <div class="row">
            <offer-form (onAddItem) = "onAddItem($event)"></offer-form>
        </div>
    </div>
    <div class="col-md-10">
        <label>Auction</label>
        <div class="table-container">
            <div >
                <label>Currencies:</label>
                <label class="currency-check-label">CP<input class="currency-check" type="checkbox" [(ngModel)]="cpChecked"/></label>
                <label class="currency-check-label">SP<input class="currency-check" type="checkbox" [(ngModel)]="spChecked"/></label>
                <label class="currency-check-label">EP<input class="currency-check" type="checkbox" [(ngModel)]="epChecked"/></label>
                <label class="currency-check-label">GP<input class="currency-check" type="checkbox" [(ngModel)]="gpChecked"/></label>
                <label class="currency-check-label">PP<input class="currency-check" type="checkbox" [(ngModel)]="ppChecked"/></label>
                <label>Truncate Digits:<input class="form-control currency-input" type="number" name="truncateDigits" min=0 (change)="onChangeTruncate()" [(ngModel)]="truncateDigits"></label>
            </div>
            <table *ngIf="bidders.length > 0 || offers.length > 0" class="table table-hover table-bordered">
                <tr>
                    <td class="first-table-row-td" width="10%">
                        Name
                    </td>
                    <td class="first-table-row-td" width="10%">
                        Budget
                    </td>
                    <td class="first-table-row-td" width="10%" *ngFor="let offer of offers; let i = index">
                        <label>{{i + 1}}. {{offer.name}}</label>
                    </td>
                    <td class="first-table-row-td">
                    </td>
                </tr>
                <tr>
                    <td width="10%">

                    </td>
                    <td width="10%">

                    </td>
                    <td *ngFor="let offer of offers; let i = index">
                        <label class="currency-check-label">Start Price<input class="currency-check" type="checkbox" [(ngModel)]="offers[i].hasStartPrize"/></label>
                        <div *ngIf="offers[i].hasStartPrize">
                            <div *ngIf="cpChecked"><label class="label-input">CP</label><input class="form-control currency-input" type="number" name="cp" min=0 [(ngModel)]="offers[i].startPrice.cp"></div>
                            <div *ngIf="spChecked"><label class="label-input">SP</label><input class="form-control currency-input" type="number" name="sp" min=0 [(ngModel)]="offers[i].startPrice.sp"></div>
                            <div *ngIf="epChecked"><label class="label-input">EP</label><input class="form-control currency-input" type="number" name="ep" min=0 [(ngModel)]="offers[i].startPrice.ep"></div>
                            <div *ngIf="gpChecked"><label class="label-input">GP</label><input class="form-control currency-input" type="number" name="gp" min=0 [(ngModel)]="offers[i].startPrice.gp"></div>
                            <div *ngIf="ppChecked"><label class="label-input">PP</label><input class="form-control currency-input" type="number" name="pp" min=0 [(ngModel)]="offers[i].startPrice.pp"></div>
                        </div>
                        <label class="currency-check-label">Minimum Raise<input class="currency-check" type="checkbox" [(ngModel)]="offers[i].hasMinimumRaise"/></label>
                        <div *ngIf="offers[i].hasMinimumRaise">
                            <div *ngIf="cpChecked"><label class="label-input">CP</label><input class="form-control currency-input" type="number" name="cp" min=0 [(ngModel)]="offers[i].minimumRaise.cp"></div>
                            <div *ngIf="spChecked"><label class="label-input">SP</label><input class="form-control currency-input" type="number" name="sp" min=0 [(ngModel)]="offers[i].minimumRaise.sp"></div>
                            <div *ngIf="epChecked"><label class="label-input">EP</label><input class="form-control currency-input" type="number" name="ep" min=0 [(ngModel)]="offers[i].minimumRaise.ep"></div>
                            <div *ngIf="gpChecked"><label class="label-input">GP</label><input class="form-control currency-input" type="number" name="gp" min=0 [(ngModel)]="offers[i].minimumRaise.gp"></div>
                            <div *ngIf="ppChecked"><label class="label-input">PP</label><input class="form-control currency-input" type="number" name="pp" min=0 [(ngModel)]="offers[i].minimumRaise.pp"></div>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let bidder of bidders; let b = index">
                    <td>
                        <div *ngIf="bidder.type == 'player'">
                            <i class="fa fa-child"></i>
                        </div>
                        <div *ngIf="bidder.type == 'npc'">
                            <i class="fa fa-user-o"></i>
                        </div>
                        <label *ngIf="bidder.name != undefined">{{bidder.name}}</label>
                    </td>

                    <td>
                        <div *ngIf="bidder.type == 'player' && bidder.name != undefined">
                            {{bidder.name}}'s budget
                        </div>
                        <div *ngIf="bidder.type == 'player' && bidder.name == undefined">
                            Player's budget
                        </div>
                        <div *ngIf="bidder.type == 'npc'">
                            <div *ngIf="cpChecked"><label class="label-input">CP</label><input class="form-control currency-input" type="number" name="cp" min=0 [(ngModel)]="bidder.budget.cp"></div>
                            <div *ngIf="spChecked"><label class="label-input">SP</label><input class="form-control currency-input" type="number" name="sp" min=0 [(ngModel)]="bidder.budget.sp"></div>
                            <div *ngIf="epChecked"><label class="label-input">EP</label><input class="form-control currency-input" type="number" name="ep" min=0 [(ngModel)]="bidder.budget.ep"></div>
                            <div *ngIf="gpChecked"><label class="label-input">GP</label><input class="form-control currency-input" type="number" name="gp" min=0 [(ngModel)]="bidder.budget.gp"></div>
                            <div *ngIf="ppChecked"><label class="label-input">PP</label><input class="form-control currency-input" type="number" name="pp" min=0 [(ngModel)]="bidder.budget.pp"></div>
                        </div>
                    </td>

                    <td *ngFor="let bidstate of bidders[b].bidstates">
                        <div *ngIf="bidder.type == 'player'">
                            <label>Still Bidding?<input type="checkbox" [(ngModel)]="bidstate.inRace"/></label>
                            <div *ngIf="cpChecked"><label class="label-input">CP</label><input [disabled]="!bidstate.inRace" class="form-control currency-input" type="number" name="cp" min=0 [(ngModel)]="bidstate.current.cp"></div>
                            <div *ngIf="spChecked"><label class="label-input">SP</label><input [disabled]="!bidstate.inRace" class="form-control currency-input" type="number" name="sp" min=0 [(ngModel)]="bidstate.current.sp"></div>
                            <div *ngIf="epChecked"><label class="label-input">EP</label><input [disabled]="!bidstate.inRace" class="form-control currency-input" type="number" name="ep" min=0 [(ngModel)]="bidstate.current.ep"></div>
                            <div *ngIf="gpChecked"><label class="label-input">GP</label><input [disabled]="!bidstate.inRace" class="form-control currency-input" type="number" name="gp" min=0 [(ngModel)]="bidstate.current.gp"></div>
                            <div *ngIf="ppChecked"><label class="label-input">PP</label><input [disabled]="!bidstate.inRace" class="form-control currency-input" type="number" name="pp" min=0 [(ngModel)]="bidstate.current.pp"></div>
                            <div>
                                Current Bid <label>{{bidstate.current}}</label>
                            </div>
                        </div>
                        <div *ngIf="bidder.type == 'npc'">
                            <label class="currency-check-label">Whole Budget<input class="currency-check" type="checkbox" [(ngModel)]="bidstate.useWholeBudget"/></label>
                            <div *ngIf="!bidstate.useWholeBudget">
                                <div *ngIf="cpChecked"><label class="label-input">CP</label><input class="form-control currency-input" type="number" name="cp" min=0 [(ngModel)]="bidstate.max.cp"></div>
                                <div *ngIf="spChecked"><label class="label-input">SP</label><input class="form-control currency-input" type="number" name="sp" min=0 [(ngModel)]="bidstate.max.sp"></div>
                                <div *ngIf="epChecked"><label class="label-input">EP</label><input class="form-control currency-input" type="number" name="ep" min=0 [(ngModel)]="bidstate.max.ep"></div>
                                <div *ngIf="gpChecked"><label class="label-input">GP</label><input class="form-control currency-input" type="number" name="gp" min=0 [(ngModel)]="bidstate.max.gp"></div>
                                <div *ngIf="ppChecked"><label class="label-input">PP</label><input class="form-control currency-input" type="number" name="pp" min=0 [(ngModel)]="bidstate.max.pp"></div>
                            </div>
                            <div>
                                Current Bid <label>{{bidstate.current}}</label>
                            </div>
                            <div>
                                <div><i *ngIf="bidstate.fails >= 1" class="fa fa-close"></i>
                                <i *ngIf="bidstate.fails >= 2"class="fa fa-close"></i>
                                <i *ngIf="bidstate.fails >= 3"class="fa fa-close"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">

                    </td>
                    <td width="10%">

                    </td>
                    <td *ngFor="let offer of offers; let i = index">
                        <div *ngIf="offer.gavelKnocks < 3 && this.offers[i].highestBidder != undefined">
                            <div>Highest Bidder <label>{{offer.highestBidder.name}}</label></div>
                            <div>Highest Bid <label>{{offer.currentPrice}}</label></div>
                        </div>
                        <div *ngIf="offer.gavelKnocks >= 3 && this.offers[i].highestBidder != undefined">
                            <div>Buyer <label>{{offer.highestBidder.name}}</label></div>
                            <div>Selling Price <label>{{offer.currentPrice}}</label></div>
                        </div>
                        <button class="btn btn-primary" (click)="knockGavel(i)"><i class="fa fa-legal"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
