<div class="row">
    <button class="btn btn-primary" (click)="generateNPC()"><i class="fa fa-refresh"></i></button>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td width="20%"><label>Name:</label></td>
                    <td width="80%">{{npc.name}}</td>
                </tr>
                <tr>
                    <td width="20%"><label>Character:</label></td>
                    <td width="80%">{{npc.character}}</td>
                </tr>
                <tr>
                    <td width="20%"><label>Ideal:</label></td>
                    <td width="80%">{{npc.ideal}}</td>
                </tr>
                <tr>
                    <td width="20%"><label>Bond:</label></td>
                    <td width="80%">{{npc.bond}}</td>
                </tr>
                <tr>
                    <td width="20%"><label>Flaw:</label></td>
                    <td width="80%">{{npc.flaw}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
